{% extends "base.html" %}
{% load markdown_extras %}
{% load widget_tweaks %}

{% block content %}

<main class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
  <div class="relative max-w-4xl mx-auto">
    {% include "components/email-not-verified.html" with email_verified=email_verified %}
    <div class="pt-10 pb-16">
      {% include "account/components/settings-header.html" %}
      <div class="px-4 sm:px-6 lg:px-0">
        <div class="py-6">
          {% include "account/components/settings-navigation.html" with page_name="templates" %}

          {% if subscription.status == "active" %}
          <div class="mt-4">
              <div data-controller="textarea" class="space-y-2">
                {% for template in templates %}
                  <div data-controller="dropdown" class="p-4 border border-gray-200 rounded bg-gray-50 hover:bg-hover-100">
                    <button type="button" class="w-full text-left" data-action="dropdown#toggle click->dropdown#hide">
                      <h3 class="text-lg font-medium leading-6 text-gray-900">{{ template.title }}</h3>
                    </button>
                      <form method="post" action="{% url 'update-template' template.id %}" data-dropdown-target="menu">
                        {% csrf_token %}
                        {{ update_form.non_field_errors }}
                          <div class="px-4 py-6 sm:p-6">
                            <div class="grid grid-cols-4 gap-6">
                              <div class="col-span-4 sm:col-span-2">
                                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                                {{ update_form.title.errors }}
                                {% render_field update_form.title value=template.title name="title" id="title" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                                <p class="mt-2 text-sm italic text-gray-500">This will help you easily identify different templates.</p>
                              </div>
                              <div class="col-span-4 sm:col-span-2">
                                {{ update_form.subject_line.errors }}
                                <label for="subject_line" class="block text-sm font-medium text-gray-700"> Subject Line </label>
                                {% render_field update_form.subject_line value=template.subject_line id="subject_line" placeholder="Software Engineer Position @ SpaceTech" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                              </div>
                              <div class="col-span-4">
                                {{ update_form.cc_s.errors }}
                                <label for="cc_s" class="block text-sm font-medium text-gray-700"> CCs </label>
                                {% render_field update_form.cc_s id="cc_s" value=template.cc_s placeholder="example@gmail.com, another-example@gmail.com" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                                <p class="mt-2 text-sm italic text-gray-500">Please use a comma separated list. No need to add your email, it will be there by default. Just add any extra people that you want to CC.</p>
                              </div>
                              <div class="col-span-4">
                                {{ update_form.text.errors }}
                                <label for="text" class="block text-sm font-medium text-gray-700"> Message </label>
                                {% render_field update_form.text value=template.text name="text" rows=10 id="text" rows="4" placeholder="Come work for the best company in the world!" class="block w-full px-3 py-2 mt-1 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6" %}
                              </div>
                            </div>

                          </div>
                          <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
                            <button type="submit" name="delete_object" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-900 focus:ring-offset-2">Delete</button>
                            <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-900 focus:ring-offset-2">
                              Update
                            </button>
                          </div>
                      </form>
                    </div>
                {% endfor %}
              </div>
          </div>

          <div class="mt-4">
            <div data-controller="dropdown" class="border border-blue-200 sm:overflow-hidden sm:rounded-md">
              <button type="button" class="w-full p-4 text-left bg-blue-50 hover:bg-blue-100" data-action="dropdown#toggle click->dropdown#hide">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Create a New Template</h3>
              </button>
              <form method="post" action="" data-dropdown-target="menu">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                  <div class="px-4 py-6 sm:p-6">
                    <div class="grid grid-cols-4 gap-6">
                      <div class="col-span-4 sm:col-span-2">
                        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                        {{ form.title.errors }}
                        {% render_field form.title name="title" id="title" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                        <p class="mt-2 text-sm italic text-gray-500">This will help you easily identify different templates.</p>
                      </div>
                      <div class="col-span-4 sm:col-span-2">
                        {{ form.subject_line.errors }}
                        <label for="subject_line" class="block text-sm font-medium text-gray-700"> Subject Line </label>
                        {% render_field form.subject_line id="subject_line" placeholder="Software Engineer Position @ SpaceTech" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                      </div>
                      <div class="col-span-4">
                        {{ form.cc_s.errors }}
                        <label for="cc_s" class="block text-sm font-medium text-gray-700"> CCs </label>
                        {% render_field form.cc_s id="cc_s" placeholder="example@gmail.com, another-example@gmail.com" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
                        <p class="mt-2 text-sm italic text-gray-500">Please use a comma separated list. No need to add your email, it will be there by default. Just add any extra people that you want to CC.</p>
                      </div>
                      <div class="col-span-4">
                        {{ form.text.errors }}
                        <label for="text" class="block text-sm font-medium text-gray-700"> Message </label>
                        {% render_field form.text name="text" rows=10 id="text" rows="4" placeholder="Come work for the best company in the world!" class="block w-full px-3 py-2 mt-1 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6" %}
                      </div>
                    </div>

                  </div>
                  <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
                    <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-900 focus:ring-offset-2">
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        {% else %}
          <div class="mt-4">
            <a class="block w-full px-10 py-6 text-center border-2 border-gray-300 border-dashed rounded-lg group bg-gray-50 hover:border-gray-400" href="{% url 'pricing' %}">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-auto text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
              <span class="block mt-2 text-sm text-gray-500">Subscribe to start creating templates.</span>
            </a>
          </div>
        {% endif %}
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock content %}
