@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .codehilite {
    @apply rounded-lg overflow-x-auto my-4;
  }

  .codehilite pre {
    @apply p-4 bg-gray-900 text-gray-100 rounded-lg;
  }

  .codehilite code {
    @apply text-sm font-mono;
  }
}
